<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head') %>
  <title>Write Blog</title>
</head>
<body>

<%- include('./partials/nav') %>

<div class="container mt-4" style="max-width:800px">

<form method="POST" action="/blog" enctype="multipart/form-data">

  <input name="title" class="form-control mb-3" placeholder="Title" required>

  <input name="category" class="form-control mb-3" placeholder="Category">

  <input name="tags" class="form-control mb-3" placeholder="Tags (comma separated)">

  <input type="file" name="cover" class="form-control mb-3" required>

  <!-- NORMAL TEXTAREA -->
  <textarea 
    name="content" 
    class="form-control mb-3" 
    rows="10" 
    placeholder="Write your blog content here..." 
    required
  ></textarea>

  <button class="btn btn-dark">Publish</button>

</form>

</div>

</body>
</html>
